@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@500&display=swap');


body{
  background-color: #e6ecf5;
}

main{
display: grid;
flex-shrink: 0;
justify-content: center;
 }


 /* boton redondo */
.round1{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-bottom: 0;
  background-color: #fff;
  color: #000;
  font-family: Roboto;
  transition: all .3s ease;
  margin-left: 8rem;
  border: none;

}
.round1:hover{
  background-color: #000080;
  color: #fff;
  transform: scale(1.02);
}
.round2{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-bottom: 0;
  background-color: #000080;
  color: #fff;
  transition: all .3s ease;
  border: none;
}
.round2:hover{
  background-color: #fff;
  color: #000;
  transform: scale(1.02);
}

.Btn{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0;
  margin-bottom: -15px;
}

.Btn1{
  margin-bottom: -50px;
}


/* BOTON GOOGLE */
.google{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  align-self: stretch;
}

.btn {
  max-width: 300px;
  height: 40px;
  display: flex;
  padding: 5px 10px;
  margin-top: 69px;
  align-items: center;
  gap: 5px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #DDDADA;  color: rgb(65, 63, 63);
  cursor: pointer;
  transition: all .6s ease;
}
  
.btn svg {
  height: 24px;
}
  
.btn:hover {
  transform: scale(1.02);
}


/* formulario */
.formulario{
  display: flex;
  justify-content:center ;
  justify-items: center;
  height: 489px;
  padding: 15px;
  align-items: center;
  gap: 10px;
  position: absolute;
}
.container {
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: grid;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  width: 401px;
  height: 649px;
  
  
}
 .container-input{
 display: flex;
  padding: 5px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

 .input {
  display: flex;
  width: 302px;
  padding: 7px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #E6ECF5;
background: #FFFCFC;
 }
 
 .email{
  padding: 10px;
  margin-top: -8rem;
  
 }
  label {
    display: flex;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
  }
  /* checkbox */
  .checkbox{
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1rem;
  }

  /* Recordar contraseña */
  .footer{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: -8rem;
  }
  .recover{
  align-items:center ;
  color: #2E68BF;
  text-align: center;
  font-family: Roboto;
  font-size: 16.781px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-bottom: 1rem;
  }
/* BOTON ENTRAR */
.bi.bi-box-arrow-in-right {
  font-size: 24px;
}

.get-into {
  background-color: #fff;
  padding: 0.2rem;
  transition: background-color 0.3s ease; /* Transición para el cambio de color */
}

.get-into:hover {
  animation: colorShift 1s infinite alternate; /* Selecciona la animación y sus propiedades */
}
  
@keyframes colorShift {
  0% {
    background-color: #fff; /* Color inicial */
  }
  100% {
    background-color: #000080; /* Color final */
  }
}
  
.into{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* registarse */
.register{
  background-color: #000080;
  padding: 7px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}